h1 {
    font:arial;
    text-align: center;
}

p {
    font:arial;
    text-align: center;
}

nav {
    background: purple;
    padding: 20px;
    text-align: center;
}

.content {
    max-width: 75%;
    margin: auto;
}

body {
    background-color:lightgrey
}

